<div class="heroes-componenet__list">
	<h2 class="sub-heading">My Heroes</h2>
	<ul>
		<li *ngFor="let hero of heroes" 
			(click)="onSelect(hero)"
			[class.selected]="hero === selectedHero"
		>
			<span class="badge">{{hero.id}}</span>
			<span class="hero-name">{{hero.name}}</span>
		</li>
	</ul>
</div>

<div class="heroes-component__details" *ngIf="selectedHero">
	<h2>{{selectedHero.name | uppercase}} Details</h2>
	<div class="id"><span>id: </span>{{selectedHero.id}}</div>
	<div class="name"><span>Name: </span>{{selectedHero.name}}</div>

	<div>
		<label>
			name: 
			<input [(ngModel)]="selectedHero.name" placeholder="name">
		</label>
	</div>
</div>